{{>layout/header}}

<h1>책 검색하기</h1>
<form name="form" method="post">
    <label for="search_info"></label>
    <input type="text" id="search_info" value="">
</form><br/>
<button type="button" id="btn-search">검색</button>
<hr>
<h1>책 목록</h1>
<hr/>

<div id="book_info"></div>

{{>layout/footer}}