{{>layout/header}}

<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="/image/app/book.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">독서록 작성하기</h1>
    </div>

    <div class="form-label-group" align="center">
        책: <input type="text" id="name" value="{{name}}" readonly>
        책 저자: <input type="text" id="author" value="{{author}}" readonly>
        책 카테고리: <input type="text" id="author" value="{{category}}" readonly>
        독서록 제목: <input type="text" id="title">
        독서록 내용: <textarea id="content" id="book_review"></textarea>
    </div>

    <button type="button" class="btn btn-lg btn-primary btn-block" id="btn-search">작성하기</button>

    <p class="mt-5 mb-3 text-muted text-center">&copy; Book Crawling 2020</p>
</form>

{{>layout/footer}}